/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://use.typekit.net/atg0zvr.css");

@import "tailwindcss";

@theme {
	/* fonts */
	--font-mplus: 'proxima-soft', 'Verdana', sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	/* nord colors - light theme */
	--color-light-bg: #ECEFF4;
	--color-light-caret: #8FBCBB;
	--color-light-main: #88C0D0;
	--color-light-sub: #6A7791;
	--color-light-subAlt: #D8DEE9;
	--color-light-text: #8FBCBB;
	--color-light-error: #BF616A;
	--color-light-errorExtra: #793E44;

	/* nord colors - dark theme */
	--color-dark-bg: #242933;
	--color-dark-caret: #eceff4;
	--color-dark-main: #88c0d0;
	--color-dark-sub: #929aaa;
	--color-dark-subAlt: #2e3440;
	--color-dark-text: #d8dee9;
	--color-dark-error: #bf616a;
	--color-dark-errorExtra: #793e44;

	/* accent colors */
	--color-red: #BF616A;
	--color-orange: #D08770;
	--color-yellow: #EBCB8B;
	--color-green: #A3BE8C;
	--color-purple: #B48EAD;
	--color-blue: #5E81AC;

	/* shadows */
	--shadow-ng: 0 1px 10px rgba(0, 0, 0, 0.1);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
}

.callout {
	@apply my-5 border-l-4 px-4 pt-4 pb-1;
}

.callout-indicator {
	@apply flex items-center space-x-2 mb-2
}


.callout-note {
	@apply border-blue text-blue;
}

.callout-tip {
	@apply border-green text-green;
}

.callout-important {
	@apply border-purple text-purple;
}

.callout-warning {
	@apply border-orange text-orange;
}

.callout-caution {
	@apply border-red text-red;
}

.callout p {
	@apply !my-2 text-light-sub dark:text-dark-text;
}

.ionicon {
	@apply w-6 h-6;
}

main article.markdown-body {
	ul {
		@apply list-disc list-inside pl-4 mb-4;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold font-mplus;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl pb-4;
	}

	h4 {
		@apply text-lg;
	}

	img {
		@apply border rounded-xl mb-6;
	}

	p {
		@apply my-6;
	}

	a {
		@apply underline underline-offset-2 hover:text-light-main dark:hover:text-dark-main decoration-light-main dark:decoration-dark-main transition-colors;
	}

	figure {
		@apply !my-6;
	}

	pre {
		@apply transition-colors duration-500;
	}

	code:not(pre code) {
		@apply bg-light-bg dark:bg-dark-subAlt p-1 mx-1 rounded-md font-mono text-sm shadow-ng transition-colors duration-500;
	}

	li {
		@apply my-2;
	}

	kbd {
		@apply inline-flex justify-center items-center py-1 px-2 bg-light-bg border border-[#939AA9] font-mono text-xs text-light-sub shadow-[0px_2px_0px_0px_#939AA9] dark:bg-dark-bg dark:border-dark-text dark:text-dark-text dark:shadow-[0px_2px_0px_0px_#D8DEE9] rounded-md transition-all duration-500;
	}

	kbd.cmd {
		@apply inline-block text-[1.1em] align-middle -mt-[0.05em] mx-[0.05em];
	}


}
