---
import { IoArrowForward, IoChevronForward } from 'react-icons/io5';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Masthead from '../components/Masthead.astro';
import { HOMEPAGE_URL, SITE_DESCRIPTION, SITE_TITLE } from '../config';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
			<Masthead />
			<Content>
				<section>
					<h1 class="text-3xl text-center font-mplus mt-12 mb-8">
						Oops, not found
					</h1>
					<div class="text-center py-4">
						<a
							class="inline-flex items-center gap-1 underline underline-offset-2 dark:decoration-dark-main decoration-light-main"
							href="/"
							>Go to Index <IoChevronForward />
						</a>
					</div>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
