---
import Head from '@/components/layout/Head.astro';
import Body from '@/components/layout/Body.astro';
import Container from '@/components/layout/Container.astro';
import Footer from '@/components/layout/Footer.astro';
import Header from '@/components/layout/header/Header.astro';
import Hero from '@/components/sections/Hero.astro';
import ProjectsShowcase from '@/components/sections/projects/ProjectsShowcase.astro';
import RecentlyPublished from '@/components/sections/RecentlyPublished.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/config';
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="pt-[56px]">
			<Hero />
			<Container>
				<ProjectsShowcase />
				<RecentlyPublished />
			</Container>
		</main>
		<Footer />
	</Body>
</html>
