---
import { IoLogoGithub } from 'react-icons/io5';
import { HOMEPAGE_URL } from '../config';
import HeaderLink from './HeaderLink.astro';
import SearchDialog from './SearchDialog.tsx';
import ThemeToggle from './ThemeToggleButton.tsx';

const allPosts = await Astro.glob('../pages/posts/*.mdx');
const posts = allPosts
	.filter((post) => !post.frontmatter.draft && post.frontmatter.slug)
	.map((post) => ({
		frontmatter: {
			title: post.frontmatter.title,
			description: post.frontmatter.description,
			slug: post.frontmatter.slug,
		},
	}));
const allTags = new Set<string>();
allPosts.map((post) => {
	post.frontmatter.tags?.map((tag: string) => allTags.add(tag));
});
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl p-2">
		<nav class="flex items-center gap-6 text-base">
			<a href="/" class="group">
				<h2 class="font-semibold tracking-tighter font-mplus text-lg">
					andrewzn
				</h2>
			</a>
			<div class="items-center gap-6 hidden md:flex font-mplus">
				<HeaderLink href={HOMEPAGE_URL}> About </HeaderLink>
				<HeaderLink
					href="https://github.com/andrewzn69/howto.zemn.xyz"
					target="_blank"
				>
					<IoLogoGithub />
					Source
				</HeaderLink>
			</div>
			<div class="flex-1"></div>
			<SearchDialog client:load searchList={posts} />
			<ThemeToggle client:visible />
		</nav>
	</div>
</header>
